.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  border-image: var(--clr-gradient) 1 5;
  border-style: solid;
  border-width: 5px;
  min-width: 300px;
  max-width: 700px;
  width: 100%;
  padding: 0 15px 15px 15px;
  overflow-y: scroll;
  max-height: 100%;
  word-wrap: break-word;
  transition: 300ms;
  font-size: 1.1rem;
  overflow-x: hidden;
  margin-bottom: auto;
  transition: 2.5s forwards cubic-bezier(0.09, 1.08, 0.88, 1.08);
}

.overflowWrapper {
  margin: auto;
  position: relative;
  z-index: -1;
  transition: 400ms forwards cubic-bezier(0.09, 1.08, 0.88, 1.08);
}
