.langForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  select {
    font-size: 1.2rem;
  }

  .error {
    display: grid;
    place-items: center;
    color: red;
    height: 30px;
  }
}
