.submit {
  position: relative;
  grid-area: submit;
  padding: 15px 25px;
  min-width: 200px;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms;
  background: var(--clr-dark);

  &:hover:not(:focus) {
    span {
      background: var(--clr-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &:active {
    transform: scale(0.9);
  }

  &:focus {
    background: var(--clr-gradient);
    color: black;
  }
}