.progress {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: white;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;

  .status {
    margin-top: auto;
    font-size: clamp(25px, 5vw, 40px);
    padding-inline: 10px;
    text-align: center;
  }

  .animation {
    position: relative;
    width: clamp(300px, 50vw, 400px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: auto;

    &::before {
      position: absolute;
      content: "";
      inset: clamp(10px, 2vw, 20px);
      background-color: white;
      border-radius: 50%;
      z-index: 10;
    }
  }

  .progressValue {
    position: relative;
    z-index: 9999;
    font-size: clamp(2rem, 6vw, 3rem);
    color: var(--clr-text);
    font-weight: bold;
  }
}
