.copy-button {
  display: grid;
  place-items: center;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(30px, 8vh - 3vw, 70px);
  height: clamp(30px, 8vh - 3vw, 70px);
  background-color: white;
  transition: 300ms;
  cursor: pointer;
  path {
    fill: black;
  }

  &:hover {
    transform: translateX(-50%) scale(1.1);
    path {
      fill: var(--clr-gradient);
    }
  }
}
