.copyButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
  padding-block: 20px;
  margin-inline: -15px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(3px);
  height: clamp(30px, 8vh - 4vw, 40px);

  button {
    margin: auto;
  }
}
