.form {
  label {
    width: clamp(350px, 70vw, 700px);
    height: clamp(150px, 70vw, 500px);
    border: dashed 20px var(--clr-upload);
    display: grid;
    place-items: center;
    grid-area: label;
    cursor: pointer;
    transition: 400ms;

    * {
      transition: 400ms;
    }

    &:hover {
      border-color: var(--clr-bg-deco-first);

      svg {
        transform: scale(1.2);

        path {
          fill: var(--clr-bg-deco-first);
        }
      }
    }
  }

  input[type="file"] {
    display: none;
  }
}
