.modale {
  position: relative;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 99;
  inset: 0;
  background-color: white;
  padding-inline: clamp(10px, 2vw, 100px);
  padding-top: 10px;
  padding-bottom: 50px;
}

.error {
  position: absolute;
  bottom: 12px;
  display: grid;
  place-items: center;
  color: var(--clr-error);
  height: 30px;
}
