.modale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  position: absolute;
  z-index: 99;
  inset: 0;
  background-color: white;
  padding: 100px 50px;

  .image-container {
    margin: auto;
    border-image: var(--clr-gradient) 1 10;
    border-style: solid;
    border-width: 10px;
    min-width: 200px;
    max-width: 80%;
    max-height: 100%;
    display: flex;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .text {
    display: grid;
    place-items: center;
    border-image: var(--clr-gradient) 1 10;
    border-style: solid;
    border-width: 10px;
    min-width: 400px;
    max-width: 500px;
    padding: 15px;
    overflow-y: scroll;
  }

  form {
    display: flex;
    gap: 20px;
    align-items: center;

    label {
      font-size: 1.5rem;
      font-weight: bold;
    }

    select {
      font-size: 1.2rem;
    }
  }

  .submit {
    grid-area: submit;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 1.3rem;
    background-image: var(--clr-gradient);
    border-radius: 20px;
    cursor: pointer;
  }

  .loader {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: white;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .progress-value {
    position: relative;
    z-index: 9999;
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }

  .animation {
    position: relative;
    height: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .animation::before {
    position: absolute;
    content: "";
    inset: 20px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
  }
}
