.modale {
  position: absolute;
  z-index: 99;
  inset: 0;
  background-color: white;
  display: grid;
  place-items: center;
  gap: 20px;
  padding-block: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);
  padding-inline: 10px;
}
