.modale {
  position: absolute;
  z-index: 99;
  inset: 0;
  background-color: white;
  display: grid;
  place-items: center;
  padding-block: 100px;
  padding-inline: 10px;
}

.text {
  position: relative;
  border-image: var(--clr-gradient) 1 10;
  border-style: solid;
  border-width: 10px;
  min-width: 400px;
  max-width: 700px;
  width: 100%;
  padding: 15px;
  padding-top: 50px;
  overflow-y: scroll;
  max-height: 100%;
  word-wrap: break-word;
  transition: 300ms;
  font-size: 1.1rem;
}
