.description {
  font-size: clamp(3.5rem, 15vw, 5rem);
  position: relative;
  justify-self: center;
  margin-bottom: 20px;

  @keyframes fade {
    to {
      opacity: 1;
    }
  }

  p {
    position: relative;
    font-size: 0.3em;
    bottom: 10px;
    opacity: 0;
    animation: fade 1000ms 500ms forwards;
  }

  @keyframes gradient {
    to {
      background-position: right;
    }
  }

  .bold {
    background: var(--clr-gradient-left);
    background: linear-gradient(
      90deg,
      var(--clr-dark) 0%,
      var(--clr-dark) 5%,
      var(--clr-gradient-left) 10%,
      var(--clr-gradient-right) 44%,
      var(--clr-dark) 90%
    );
    background-size: 2000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: left;
    font-weight: bold;
    animation: gradient 900ms ease-in-out 900ms forwards;
  }
}
