.main {
  flex: 1;
  padding-inline: clamp(10px, 2vw, 100px);
  padding-top: 10px;
  display: grid;
  grid-template-rows: 1fr auto auto 300px 2fr;
  grid-template-areas:
    "help"
    "title"
    "desc"
    "form"
    ".";
  align-content: center;

  .svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: clamp(1000px, 300vw, 300vw);
    min-width: 2000px;
    width: 100%;
    min-height: 150%;
    z-index: -1;

    path {
      fill: rgb(255, 255, 255);
      transition: 400ms;
      transform-origin: center;
    }
  }
}
