.close {
  margin-left: auto;
  margin-bottom: auto;
  width: clamp(50px, 10vh - 4vw, 70px);
  height: clamp(50px, 10vh - 4vw, 70px);
  background-color: transparent;
  cursor: pointer;
  path {
    fill: black;
  }
}
