@keyframes slideTitle {
  to {
    transform: scaleX(1);
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  max-width: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  z-index: 15;
  transform-origin: 97% 3%;
  transform: scale(1);
  transition: 400ms;
  padding: 20px 80px 20px 20px;
  border-radius: 10px;

  &.hide {
    background-color: black;
    transform: scale(0);

    li {
      transform: translateY(500px);
    }

    h2::before {
      transform: scaleX(0);
    }
  }

  h2 {
    position: relative;
    font-size: 1.2rem;
    color: white;
    padding: 5px;
  }

  h2::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    transform-origin: right;
    transform: scaleX(1);
    transition: 600ms 200ms cubic-bezier(0.45, 1.07, 0.58, 1.08);
    z-index: -1;
  }

  h3 {
    font-size: 1.05rem;
    padding: 5px;
    text-decoration: underline;
  }

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-position: inside;
    font-size: 1rem;
    font-weight: 500;
    text-indent: -20px;
    padding-left: 30px;
    padding-block: 15px;
    background-color: white;
    overflow: hidden;
    list-style-type: square;

    li {
      transition: 900ms 200ms cubic-bezier(0.21, 1.11, 0.42, 0.99);
      transform: translateY(0);
    }
  }
}
