.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  grid-area: title;
  font-size: clamp(5rem, 8vw, 7rem);
  text-align: center;
  align-self: center;
  font-weight: 300;
  overflow: hidden;
  text-align: left;
  justify-self: center;

  @keyframes slide {
    100% {
      transform: translateY(0);
    }
  }

  @keyframes sliderev {
    100% {
      transform: translateY(0);
    }
  }

  @keyframes gradient {
    to {
      background-position: right;
    }
  }

  span {
    font-family: "Poppins", sans-serif;
  }

  .bold {
    font-weight: 700;
  }

  span:not(.upper) {
    transform: translateY(100%);
    animation: slide 900ms 100ms forwards cubic-bezier(0.77, 0.26, 0.46, 1.28);
  }

  .upper {
    position: relative;
    background: rgb(133, 255, 189);
    background: linear-gradient(
      90deg,
      rgba(133, 255, 189, 1) 0%,
      rgba(255, 251, 125, 1) 44%,
      rgba(0, 0, 0, 1) 90%
    );
    background-size: 2000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: left;
    position: relative;
    top: 0.09em;
    text-transform: uppercase;
    font-size: 0.8em;
    transform: translateY(-100%);
    animation: gradient 1500ms ease-in-out 1000ms forwards,
      slide 900ms 100ms forwards cubic-bezier(0.77, 0.26, 0.46, 1.28);
  }
}
