@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  --clr-text: black;
  --clr-bg: white;
  --clr-upload: black;
  background-color: #85ffbd;
  --clr-gradient: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  background-image: var(--clr-gradient);
  min-height: 100vh;

  &.hover-form {
    #help-button svg path {
      fill: var(--clr-gradient);
    }

    .main-title {
      background: var(--clr-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .bg-deco path {
      fill: black;
    }

    label[for="file"] {
      &::before {
        opacity: 0;
      }

      svg {
        transform: translate(-50%, -50%) scale(1);

        &:nth-child(1) {
          opacity: 0;
        }
      }
    }

    #error-file {
      color: red;
    }
  }
}

main {
  // padding-inline: clamp(20px, 9vw - 1.8vmax, 100px);
  // padding-block: clamp(10px, 9vw - 1.8vmax, 50px);
  position: relative;
  overflow: hidden;
}
